#titolo {
    -fx-font-size: 50px;
    -fx-font-weight: 700;
    -fx-text-fill: -fx-colore-testo-primario;
}

.sottotitolo {
    -fx-font-size: 25px;
    -fx-font-weight: 600;
    -fx-text-fill: -fx-colore-testo-secondario;
    -fx-padding: 0 0 10 0;
}

.statistica {
    -fx-font-size: 14px;
    -fx-text-fill: -fx-colore-testo-secondario
}

.contatore {
    -fx-font-size: 32px;
    -fx-font-weight: 300;
    -fx-text-fill: -fx-colore-testo-primario;
}

.rettangolo{
    -fx-background-color: -fx-colore-rettangolo;
    -fx-background-radius: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 10, 0, 0, 2);
    -fx-padding: 20;
}