.label{
    -fx-font-size: 25px;
}

.button {
    -fx-background-color: white;
    -fx-text-fill: #1D1D1F;
    -fx-font-weight: 600;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-border-color: #E5E5EA;
    -fx-border-radius: 8px;
}

.button:hover {
    -fx-background-color: #F2F2F7;
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: #D1D1D6;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
